@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);

@font-face {
  font-family: 'Dana';
  src: url('../fonts/DanaYadAlefAlefAlef-Normal.woff') format('woff');
}

$font: 'Dana', Verdana, Arial, helvetica, sans-serif;